@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

* {
    font-family: 'Rajdhani', sans-serif;
}

:root {
    --dark: rgb(52,58,63);
}

.container {
    width: 90%;
    margin: 0 auto;
}

aside {
    width: 25%;
}

main {
    width: 70%;
}

span {
    padding: 5px 5px;
    border-radius: 10%;
    color: white;
}

.current-data {
    line-height: 2rem;
}

.forecast-data {
    width: 25%;
    line-height: 2rem;
    background-color: rgb(52,58,63);
    color: white;
}

.bg-color {
    background-color: rgba(109,130,153,.75);
}

/* uvi color block colors */

.low {
    background-color: rgb(83,146,89);
}

.moderate {
    /* 3 to 5 */
    background-color: rgb(255,225,98);
    color: var(--dark);
}

.high {
    /* 6 to 7 */
    background-color: rgb(255,142,4);
}

.very-high {
    /* 8 to 10 */
    background-color: rgb(190,3,1);
}

.extreme {
    /* 11 or more */
    background-color: rgb(21,0,79);
}

/* icon colors */
.clear {
    background-color: rgba(239,254,253,.75);
    color: var(--dark);
}

.clouds {
    background-color: rgba(146,168,189,.75);
}

.rain {
    background-color: rgba(65,105,130,.75);
}

.thunderstorm {
    background-color: rgba(59,57,70,.75);
}

.snow {
    background-color: rgba(238,238,238,.75);
    color: var(--dark);
}

.atmosphere {
    background-color: rgba(209,209,209,.75);
    color: va;
}