.container{
    width: 90%;
    margin: 0 auto;
}
.banner{
    text-align: center;
    background: linear-gradient(165deg,gray, black 100%);
    color: rgba(255, 255, 255, .75);
}

aside {
    width: 25%;
    border: 2px solid black;
}

main {
    width: 70%;
    border: 2px solid black;
}

.city-wrapper {
    display: flex;
    justify-content: space-between;
}

.current-data {
    line-height: 2rem;
}

.five-days {
    display: flex;
    justify-content: space-around;
}

.forecast-data {
    width: 25%;
    line-height: 2rem;
    border: 2px solid black;
}

.favorable {
    background-color: rgb(129,178,22);
}

.moderate {
    background-color: rgb(255,183,46) ;
}

.severe {
    background-color: rgb(190,3,1);
}