/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
} */


.container{
    width: 90%;
    margin: 0 auto;
}

.banner{
    text-align: center;
    background: linear-gradient(165deg,gray, black 100%);
    color: rgba(255, 255, 255, .75);
}

aside {
    width: 25%;
}

main {
    width: 70%;
}

.city-wrapper {
    display: flex;
    justify-content: space-between;
}

.current-data {
    line-height: 2rem;
}

.five-days {
    display: flex;
    justify-content: space-around;
}

.forecast-data {
    width: 25%;
    line-height: 2rem;
    border: 2px solid black;
}

/* uvi color block colors */

.favorable {
    background-color: rgb(129,178,22);
}

.moderate {
    background-color: rgb(255,183,46) ;
}

.severe {
    background-color: rgb(190,3,1);
}

/* icon colors */
.clear-sky {
    background-color: rgba(239,254,253,.75);
}

.few-clouds {
    background-color: rgba(177,207,224,.75);
}

.scattered-clouds {
    background-color: rgba(106,152,171,.75);
}   

.broken-clouds {
    background-color: rgba(146,168,189,.75);
}

.shower-rain {
    /* rgb(27,56,78) */
    background-color: rgba(65,105,130,.75);
    color: white;
}

.rain {
    background-color: rgba(59,57,70,.75);
    color: white;
}

.thunderstorm {
    background-color: rgba(26,26,26,.75);
    color: white;
}

.snow {
    background-color: rgba(238,238,238,.75);
}

.mist {
    background-color: rgba(209,209,209,.75);
}